<ul id="dropdown1" class="dropdown-content">
    <li><a href="/api/scrape">Scrape The News</a></li>
    <li class="divider"></li>
    <li><a href="/api/ClearAll">Clear Old News</a></li>
</ul>
<nav>
    <div class="nav-wrapper topnav">
        <div class="container">
            <a href="/" class="brand-logo"> Scraper Sports News</a>
            <ul id="nav-mobile" class="right">
                <li class="right hide-on-med-and-down"><a href="/api/scrape">Scrape The News</a></li>
                <li class="right hide-on-med-and-down"><a href="/api/clearAll">Clear Old News</a></li>
                <li class="right hide-on-large-only"><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">dehaze</i></a></li>
            </ul>
        </div>
    </div>
</nav>
