{{!-- <ul>
  {{#each animals}}
    <li>
      <p>Type: {{animalType}}</p>
      <p>Pet: {{pet}}</p>
      <p>Fierceness: {{fierceness}}</p>
    </li>
  {{/each}}
</ul> --}}


<div id="wrapper">
    <h1>Note Scraper</h1>
    <div id="articles"></div>
    <div id="notes"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/app.js"></script>